Memory - Rules

1. Goal of the game:
The goal of this game is to match tiles in pairs of 2. The player who found the most pairs, wins.

2. Playing a turn:
    - Click on a tile to turn it. This tile can have possible values:
        * A word. This is a normal tile. You can now turn another tile.
        * "Skip": you have to skip this turn.
        * "Shuffle": the tiles will be shuffled. Your turn is now over.
    - Turn another tile. This tile can also have the 3 possible values:
        * A word. If this word matches the word of your first tile, your score will go up. The tiles are turned for the rest of the game.
        * "Skip": nothing happens. Your turn is over and the skip tile gets hidden again.
        * "Shuffle": the tiles will be shuffled. Your turn is now over.
    - The game ends when all pairs have been found. Your score will be compared and maybe added to the high scores.

3. Set-up of the game:
    - Difficulty level. You can choose between 5 levels:
        * A: Play board of 2 x 3. No special tiles added.
        * B: Play board of 4 x 3. 1 shuffle and 1 skip tile are added.
        * C: Play board of 5 x 6. 2 shuffle and 2 skip tiles are added.
        * D: Play board of 8 x 8. 3 shuffle and 3 skip tiles are added.
        * E: Customized, you can choose your own board dimensions. No special tiles are added.
          Here you have to take care that height * width = even number.
    - Player mode:
        * Multiplayer: play against someone else! Both your scores can be added to the high scores.
        * Computer: play against the computer. It picks tiles at random. Only your score can be added to the high scores.

Have fun!